body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

#ui {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 10;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.slider {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}
